<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :content, class: 'form-label' %>
    <%= form.text_area :content, id: "content-field", class: "form-control", rows: '15' %>
    <p><span id="char-count">0</span> characters</p>
  </div>

<div class="row">

  <div class="mb-3 col-sm-6">
    <%= form.label :tags, class: 'form-label' %>
    <%= form.select :tag_ids, Tag.all.map{|t| [t.name, t.id]}, { include_blank: true }, { multiple: 'multiple', class: 'mul-select form-control' } %>
  </div>

  <div class="mb-3 col-sm-6">
    <%= form.label :categories, class: 'form-label' %>
    <%= form.select :category_ids, Category.all.map{|c| [c.name, c.id]}, { include_blank: true }, { multiple: 'multiple', class: 'mul-select form-control' } %>
  </div>
</div>

  <div class="mb-3">
    <%= form.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>

<script>
  $(document).ready(function() {
      $(".mul-select").select2({
          placeholder: "select Option",
          tags: true,
        });
    });
</script>
