<div id="<%= dom_id post %>">
  <p>
    <strong><%= post.title %></strong>
  </p>
  <p>
    <%= raw(post.content)%>
  </p>
  
  <% if post.tags.any? %>
    <p>
      <button class= 'btn btn-secondary'><%= post.tags.map(&:name).join(', ') %></button>
    </p>

  <% end %>

  <% if post.categories.any? %>
  <p>
      <button class= 'btn btn-secondary'><%= post.categories.map(&:name).join(', ') %></button>
  </p>

  <% end %>
</div>
