<p style="color: green"><%= notice %></p>

<%= render @post %>

<div class = "edit_button">
  <%= link_to "Back to posts", posts_path %>
  <%= link_to "Edit", edit_post_path(@post),class: 'btn btn-primary' %> 
  <%= button_to "Delete", @post, method: :delete,class:'btn btn-danger' %>
</div>

<%= image_tag(@post.photo, width: 200) if @post.photo.attached? %>
